@import "normalize";

@import "variables";

@import "small";

@media only screen and (min-width: 35rem) {
    @import "medium";
} // media query end

@media only screen and (min-width: 60rem) {
    @import "large";
} // media query end
